.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.header {
  margin: 5vh 0 5vh !important;
}

.cite {
  margin-bottom: 2vh !important;
  text-align: center;
}

.text {
  text-align: justify;
  padding: 0 2vw;
}

@media only screen and (max-width: 768px) {
  .header {
    margin: 3vh 0 3vh !important;
  }

  .aboutBox {
    flex-direction: column-reverse;
    width: 100%;
  }

  .cite {
    margin-bottom: 1vh;
  }
}
