.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.header {
  font-size: 3vw !important;
  margin: 5vh 0 5vh !important;
}

.subheader {
  margin: 1vh;
  font-size: 2vw !important;
}

.cite {
  font-size: 1.5vw !important;
  margin-bottom: 1vh;
}

.text {
  text-align: justify;
  padding: 0 2vw;
}
