.headers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5;
}

.header {
  font-size: 2vmax !important;
  line-height: 100%;
}
.headerSmall {
  font-size: 2.5vmax !important;
  text-align: center;
}
