.ctaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 3vw !important;
  margin-bottom: 2vh !important;
}
