.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.header {
  margin: 5vh 0 0 !important;
}

.subheader {
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a2acbd;
}

.inputTextField {
  width: 500px;
  max-width: 100%;
  margin: 3vh 0;
}
.inputSmall {
  width: 300px;
  max-width: 100%;
  margin: 3vh 0;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.button {
  width: 200px;
  margin-bottom: 5vh !important;
}

.label {
  font-size: 2vh !important;
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
  .svg {
    width: 300px;
    height: 180px;
  }
  .formContainer {
    flex-direction: column-reverse;
  }

  .header {
    margin: 3vh 0 0 !important;
  }

  .icon {
    font-size: 2vh !important;
  }

  .inputTextField {
    width: 250px;
    margin: 1vh 0;
  }
  .inputSmall {
    width: 200px;
    margin: 1vh 0;
  }
  .button {
    margin-bottom: 3vh !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 769px) {
  .svg {
    width: 250px;
    height: 180px;
  }

  .header {
    margin: 3vh 0 0 !important;
  }

  .icon {
    font-size: 2vh !important;
  }

  .inputTextField {
    width: 250px;
    margin: 1vh 0;
  }
  .inputSmall {
    width: 200px;
    margin: 1vh 0;
  }
  .button {
    margin-bottom: 3vh !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .inputTextField {
    width: 450px;
    margin: 2vh 0;
  }
  .inputSmall {
    width: 250px;
    margin: 2vh 0;
  }

  .header {
    margin: 3vh 0 0 !important;
  }

  .icon {
    font-size: 2vh !important;
  }

  .button {
    margin-bottom: 3vh !important;
  }
  .svg {
    width: 300px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .svg {
    width: 400px;
    height: 180px;
  }
}
