.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmax 1vmax 0vmax 1vmax;
  flex-wrap: wrap;
}

.overlay {
  background-color: #ffffffbe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
  border-radius: 5px;
}

.contactBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmax;
}

.contactCol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
  border-radius: 5px;
}

.subheader {
  margin-bottom: 1vmax;
}

.icon {
  font-size: 3vmax;
  margin-right: 1vmax;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  padding: 1vmax 0.5vmax 1vmax 1vmax;
}
.subheader {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 3vmax 0vmax 0vmax 0vmax;
  }
}
