.faqContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header {
  margin: 5vh !important;
}

.listContainer {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .header {
    margin: 3vh !important;
  }

  .faqHeader {
    font-size: 1.5vh !important;
  }
}
