.header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0.1rem;
}

.headerText {
  font-size: 1vw;
}

.headerSmall {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.menuButton {
  margin: 2vh;
  transition: 1s;
  z-index: 1000;
  position: relative;
  top: 0;
  right: 0;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: rgba(6, 8, 25, 0.866);
  font-size: 2vw;
  z-index: 999;
}
