.heroBackground {
  position: absolute;
  height: 100vh;
  z-index: -100;
  opacity: 0.3;
}

.heroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: -13vmax;
  margin-top: -13vmax;
}

.headline {
  font-size: 6vmax !important;
}

.divider {
  width: 70vw;
  height: 0.2vh;
  background-color: #fafafa;
}

.subtitle {
  margin-top: 1vh !important;
  font-size: 2vmax !important;
  text-transform: uppercase;
}

.arrows {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-bottom: -6vmax;
    margin-top: -6vmax;
  }
  .headline {
    font-size: 7vw !important;
  }
  .subtitle {
    font-size: 3vw !important;
  }

  .arrows {
    position: absolute;
    bottom: 3vh;
    display: block;
  }

  .heroBackground {
    width: 100%;
  }
}
