.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img {
  max-height: 600px;
  width: auto;
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
  position: relative;
}

.header {
  font-size: 1.5vmax;
  text-transform: uppercase;
}

.listContainer {
  margin: 5vh 5vh 0vh 5vh;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listText {
  font-size: 1.5vmax !important;
  margin: 0.5em;
}
