.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerBox {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header {
  font-size: 2vw;
  text-transform: uppercase;
}

.listContainer {
  margin: 5vh;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listText {
  font-size: 1.5vw !important;
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 3vw !important;
  }

  .listText {
    font-size: 2.5vw !important;
  }

  .checkIcon {
    font-size: 7vw !important;
  }

  .listContainer {
    margin: 1vh 0 5vh;
  }
}
