.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.technicalData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.technicalText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
}

.title {
  line-height: 70%;
  margin: 1vmax;
  font-size: 4vw;
}

.textTitle {
  border-bottom: 1px solid white;
  padding: 1px 4px;
  text-transform: uppercase;
  margin: 0.5vh;
}

.sideTitle {
  opacity: 0.4;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  white-space: nowrap;
  position: absolute;
  right: 5px;
  font-size: 6vw;
}
