.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  font-size: 2vw;
  text-align: center;
}

.sideTitle {
  opacity: 0.4;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  white-space: nowrap;
  position: absolute;
  right: 5px;
  font-size: 5.5vw !important;
  z-index: -100;
}
