.popUpsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5vw;
  z-index: 9999;
}

.middleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.circlesBox {
  margin: 5vh 5vh 3vh;
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.circle,
.circleActive {
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-radius: 50%;
}
.circleActive {
  background-color: white;
}
