.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5vmax;
  margin: 5vmax;
}

.header {
  font-size: 3vw !important;
  text-align: center;
}

.sideTitle {
  opacity: 0.4;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  white-space: nowrap;
  position: absolute;
  right: 5px;
  font-size: 5.5vw !important;
  z-index: -100;
}

.photoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  opacity: 0.8;
  width: 100%;
  max-height: 450px;
  height: auto;
  object-fit: contain;
  border-radius: 2px;
}

.imageTitle {
  font-size: 1.5em !important;
}

.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 1em;
}

.textElement {
  text-align: justify;
}

.textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 1em;
}

@media only screen and (max-width: 960px) {
  .photoContainer {
    flex-wrap: wrap;
  }

  .textContainer {
    max-width: none;
  }
}
