.popUpsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
  gap: 5vw;
}

.longLineElement {
  width: 1px;
  height: 90vh;
  background-color: white;
}

.popUpElement {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5em;
  margin-bottom: 13vh;
}

.circleElement {
  height: 0.5em;
  width: 0.5em;
  border: 2px solid white;
  border-radius: 50%;
}

.textElement {
  border-bottom: 1px solid white;
  padding: 4px 4px 4px 16px;
  line-height: 120%;
}
.textElementLeft {
  border-bottom: 1px solid white;
  padding: 4px 16px 4px 4px;
  line-height: 120%;
}

.popUpLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
  margin-top: 15vh;
}
.popUpRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}

.textBox {
  margin-bottom: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 441px) {
  .circleElement {
    height: 0.1em;
    width: 0.1em;
    border: 0.5px solid white;
  }
  .popUpElement {
    margin-bottom: 5vh;
  }

  .longLineElement {
    height: 65vh;
    width: 0.5px;
  }
  .popUpLeft {
    margin-top: 10vh;
  }

  .textElement,
  .textElementLeft {
    border-bottom: 0.5px solid white;
    font-size: 0.8em !important;
  }

  .textElement {
    padding: 2px 2px 2px 8px;
  }
  .textElementLeft {
    padding: 2px 8px 2px 2px;
  }
  .textBox {
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 441px) and (max-width: 769px) {
  .circleElement {
    height: 0.1em;
    width: 0.1em;
    border: 0.5px solid white;
  }
  .popUpElement {
    margin-bottom: 5vh;
  }

  .longLineElement {
    height: 40vh;
    width: 0.6px;
  }
  .popUpLeft {
    margin-top: 5vh;
  }

  .textElement,
  .textElementLeft {
    border-bottom: 0.5px solid white;
  }

  .textElement {
    padding: 2px 2px 2px 8px;
  }
  .textElementLeft {
    padding: 2px 8px 2px 2px;
  }
  .textBox {
    margin-bottom: 2.5px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .longLineElement {
    height: 80vh;
    width: 0.7px;
  }
  .textElement,
  .textElementLeft {
    border-bottom: 0.7px solid white;
  }

  .popUpsContainer {
    margin-bottom: 3vh;
  }
  .circleElement {
    border: 0.7px solid white;
  }
}
