.videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  object-fit: cover;
  width: 75% !important;
  height: auto !important;
  outline: none;
  border: none;
}
